body {
    font-family: 'Arial', sans-serif;
}
.background-dark {
    background-color:#111111;
}
.nav-link {
    color: #fff;
    font-size: .8rem;
}
.nav-link:hover {
    color: #c0c0c0;
}
.bg-cover-center {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-header {
    background-image: url(./img/abstract-dark-blue-futuristic-digital-grid-background-min.jpg);
    height: auto;
    padding-top: 7rem;
    padding-bottom: 0;
}
.input-field, .button-register {
    height: 2.5rem;
}
.input-field {
    border: 1px solid #8A8B8D;
    padding-left: 1rem;
}
.button-register {
    background-color: #CF0B0F;
    color: #fff;
}
.label-privacy {
    font-size: .7rem;
}
.register-check-input {
    border-color: #8A8B8D;
}
.bg-gray {
    background-color: #E4E6E8;
}
.content-logos-phone {
    max-width: 10rem;
}
.bg-azul {
    background-color: #232845;
}
.content-text-pages {
    max-width: 23.5rem;
}
.text-red {
    color: #DD0610;
}
.text-footer {
    color: #A4A8AA;
}
.footer-social {
    background-color: #222222;
}
